{% extends "base.html" %}

{% block title %}Progrify: Productivity Companion{% endblock %}

{% block additional_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}


{% block content %}

<script>
    window.API_BASE_URL = "[https://progrify.onrender.com](https://progrify.onrender.com)";
</script>

<div class="container">
  
    <div id="app">

        <div class="header">
            <h1>Your personal study space.</h1>
            <p>A productivity companion for digital life.</p>
        </div>

        <div class="content">
            <div class="features">
                <div class="feature" onclick="window.location.href='{{ url_for('digital_planner') }}'">
                    <h3>🗓️ Digital Planner</h3>
                    <p>Organize your daily schedule</p>
                </div>
                <div class="feature" onclick="window.location.href='{{ url_for('pdf_tools') }}'">
                    <h3>📄 Document Intelligence</h3>
                    <p>Transform PDFs into actionable insights</p>
                </div>
                <div class="feature" onclick="window.location.href='{{ url_for('flashcards') }}'">
                    <h3>🧠 Smart Flashcards</h3>
                    <p>Create and organize your learning</p>
                </div>
                <div class="feature" onclick="window.location.href='{{ url_for('whiteboard') }}'">
                    <h3>🧽 Whiteboard</h3>
                    <p>Doodle and sketch ideas</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
